black==23.9.1
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-pie==0.15.0
isort==5.9.3
mypy==0.931
pytest==7.0.1
pydantic[email]==2.0.0
sqlalchemy[asyncio]==2.0.0
fastapi==0.95.0
sqlalchemy2-stubs==0.0.2a35
